h1 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Lobster', cursive;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

/* Won't be used here */

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}


p {
    font-weight: 300;
}

video {
  text-align: center;
}
